# Gradle & Build
.gradle/
build/
**/build/
!src/**/build/

# Android Build Outputs & Release
*.apk
*.aab
*.ap_
*.dex
**/release/
release/

# Kotlin / KMP
.kotlin/
.konan/

# Android Studio / IntelliJ IDEA
*.iml
.idea/
*.iws
*.ipr
out/
captures/
.externalNativeBuild/
.cxx/
local.properties

# OS & Xcode / iOS
.DS_Store
*.DS_Store
xcuserdata/
**/xcuserdata/
*.xcworkspace
!*.xcodeproj/project.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
**/xcshareddata/WorkspaceSettings.xcsettings
DerivedData/

# Node
node_modules/

# Keystore and signing properties
keystore.properties
*.keystore
*.jks
/keystore/

# Maestro
.maestro/
